#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_FazzCoind += debian/examples/*
DEB_INSTALL_MANPAGES_FazzCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix FazzCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f FazzCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake FazzCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/FazzCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/FazzCoind
binary-post-install/FazzCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/FazzCoin-qt
